.about-info {
  align-self: flex-start;
  position: sticky;
  top: 0;
  grid-column: 2/3;
  z-index: 3;
  padding-top: 25px;

  @media (max-width: $mobile-width) {
    position: relative;
    align-self: center;
    padding: 0;
  }

  &--service {
    padding-top: 0;
  }

  &--request {
    position: relative;
    padding-left: 40px;
    height: 700px;
    background-image: url("../img/request-info-background.svg");
    background-repeat: no-repeat;
    background-position: 40px;
    background-size: 404px 707px;

    @media (max-width: $mobile-width) {
      padding-left: 10px;
      padding-top: 50px;
      height: 485px;
      background-image: url("../img/request-info-background-mobile.svg");
      background-size: 312px 521px;
      background-position: -20px;
    }
  }
}

.about-info__title {
  padding-left: 40px;
  font-weight: 700;
  font-size: 50px;
  line-height: 130%;
  max-width: 820px;

  @media (max-width: $mobile-width) {
    padding-left: 22px;
    margin-top: 50px;
    font-size: 30px;
    line-height: 100%;
  }

  &--cases {
    max-width: 570px;

    @media (max-width: $mobile-width) {
      padding-left: 40px;
    }
  }

  &--slider {
    @media (max-width: $mobile-width) {
      padding-left: 40px;
    }
  }

  &--review {
    max-width: 600px;
    margin-bottom: 10px;
  }

  &--request {
    max-width: 270px;
    margin-left: 27px;

    @media (max-width: $mobile-width) {
      max-width: 170px;
      line-height: 120%;
    }
  }
}

.about-info__description {
  max-width: 600px;
  padding-left: 40px;
  font-weight: 300;
  font-size: 24px;
  line-height: 125%;
  color: $gray-color;

  @media (max-width: $mobile-width) {
    padding-left: 22px;
    font-size: 16px;
    line-height: 120%;
  }

  &--cases {
    max-width: 515px;

    @media (max-width: $mobile-width) {
      padding-left: 40px;
    }
  }

  &--slider {
    @media (max-width: $mobile-width) {
      padding-left: 40px;
      line-height: 150%;
    }
  }

  &--review {
    max-width: 650px;
    margin-bottom: 70px;
  }
}

.about-info__list {
  padding: 0;
  padding-left: 65px;
  margin-bottom: 85px;
  font-size: 18px;
  line-height: 167%;
  text-transform: uppercase;
  color: $white-color;
}

.about-info__link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 71px;
  text-decoration: none;
  color: $orange-color;

  @media (max-width: $mobile-width) {
    font-size: 16px;
    padding-left: 51px;
  }

  &:hover {
    color: $link-orange-color;

    .about-info__link-image {
      stroke: $link-orange-color;
    }
  }
}

.about-info__link-image {
  stroke: $orange-color;
}