.about-info__title {
  padding-left: 40px;
  font-weight: 700;
  font-size: 50px;
  line-height: 130%;
}

.about-info__description {
  padding-left: 40px;
  font-weight: 300;
  font-size: 24px;
  line-height: 125%;
  color: $gray-color;
}

.about-info__list {
  padding: 0;
  padding-left: 65px;
  font-size: 18px;
  line-height: 167%;
  text-transform: uppercase;
  color: $white-color;
}

.about-info__request-link {
  display: flex;
  gap: 10px;
  padding-left: 40px;
  text-decoration: none;
  color: $orange-color;
}