.about {
  padding-bottom: 150px;
  border-bottom: 1px solid $border-gray-color;
  
  &--black {
    padding-bottom: 75px;
    background-color: $dark-color;
    border: none;

    .about__title {
      -webkit-text-stroke: 1px $gray-color;
      border-bottom: 1px solid $border-dark-section-color;
    }

    .about-info__title {
      color: $white-color;
    }

    .about-info__description {
      color: $white-color;
    }

    .about__advantages {
      border-right: 1px solid $border-dark-section-color;
    }
  }
}

.about__container {
  display: grid;
  grid-template-columns: minmax(50px, 110px) minmax(420px, 690px) minmax(420px, 475px);
  max-width: 1550px;
  padding-left: 80px;
  padding-right: 130px;
  padding-top: 50px;
}

.about__title {
  grid-column: 1 / 2;
  margin: 0;
}

.about__image-slider {
  background-color: $orange-color;
}

.about-info__description {
  margin-bottom: 50px;
}