.about {
  position: relative;
  padding-bottom: 150px;
  border-bottom: 1px solid $border-gray-color;
  
  &--black {
    padding-bottom: 75px;
    background-color: $dark-color;
    border: none;

    .about__title {
      -webkit-text-stroke: 1px $gray-color;
    }

    .about-info__title {
      color: $white-color;
    }

    .about-info__description {
      color: $white-color;
    }
  }
}

.about__container {
  display: grid;
  grid-template-columns: minmax(50px, 110px) minmax(420px, 750px) minmax(420px, 475px);
  max-width: 1550px;
  padding-left: 80px;
  padding-right: 130px;
  padding-top: 50px;
}

.about__title {
  grid-column: 1 / 2;
  align-self: flex-start;
  margin: 0;
  position: sticky;
  top: 0;
}

.about__image-slider {
  background-color: $orange-color;
}

.about-info__description {
  margin-bottom: 50px;
}

.about__advantages {
  grid-column: 3/4;
}