.advantages {
  position: relative;
  // background-image: url("data:image/svg+xml,%3Csvg width='584' height='584' viewBox='0 0 584 584' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='292' cy='292' r='192.5' stroke='%23FF9B46'/%3E%3Ccircle cx='292' cy='292' r='97.5' stroke='%23FF9B46'/%3E%3Ccircle cx='292' cy='292' r='291.5' stroke='%23FF9B46'/%3E%3Ccircle cx='291.5' cy='98.5' r='8' fill='none' stroke='%23FF9B46'/%3E%3Ccircle cx='389.5' cy='291.5' r='8' fill='none' stroke='%23FF9B46'/%3E%3Ccircle cx='101.5' cy='514.5' r='8' fill='none' stroke='%23FF9B46'/%3E%3C/svg%3E%0A");
  // background-repeat: no-repeat;

  @media (max-width: $mobile-width) {
    min-height: 440px;
  }
}

.advantages__item {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 15px;

  @media (max-width: $mobile-width) {
    font-weight: 300;
    font-size: 16px;
    line-height: 112%;
    gap: 7px;
  }

  &--clients {
    left: 32%;
    top: -1%;

    @media (max-width: $mobile-width) {
      left: 25%;
      top: -18%;
    }
  }

  &--projects {
    left: 47%;
    top: 38%;

    @media (max-width: $mobile-width) {
      left: 38%;
      top: 6%;
    }
  }

  &--years {
    left: -8%;
    top: 81%;

    @media (max-width: $mobile-width) {
      left: 1%;
      top: 37%;
    }
  }
}

.advantages__number {  
  margin: 0;
  font-family: $font-second;
  font-size: 75px;
  font-weight: 900;
  line-height: 120%;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px $dark-color;

  @media (max-width: $mobile-width) {
    font-size: 45px;
  }

  &--main-font {
    padding-top: 5px;
    font-family: $font-main;
  }
}

.advantages__text {
  max-width: 120px;
  margin: 0;

  @media (max-width: $mobile-width) {
    max-width: 95px;
  }
}

.advantages__arrow {
  position: absolute;
  fill: none;

  &--one {
    left: 60%;
    top: 65%;

    @media (max-width: $mobile-width) {
      width: 48px;
      height: 56px;
      left: 56%;
      top: 25%;
    }
  }

  &--two {
    left: -25%;
    bottom: -18%;

    @media (max-width: $mobile-width) {
      width: 51px;
      height: 54px;
      left: 1%;
      top: 57%;
      rotate: -8deg;
    }
  }

  &--three {
    left: 80%;
    bottom: -43%;

    @media (max-width: $mobile-width) {
      width: 37px;
      height: 66px;
      left: 80%;
      bottom: -6%;
    }
  }
}