.background-animation {
  width: 100%;
  background-color: $dark-color;
}

.background-animation__image {
  margin: 0 auto;
  object-fit: contain;

  @media (max-width: $mobile-width) {
    height: 170px;
    max-width: 390px;
  }
}
