.button {
  position: relative;
  cursor: pointer;
  color: $white-color;
  font-size: 16px;
  line-height: 188%;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid $light-gray-color;
}