.category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  padding: 0;
}

.category-list__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 26px;
  line-height: 192%;

  @media (max-width: $mobile-width) {    
    font-size: 22px;
    line-height: 205%;
  }

  &::after {
    position: absolute;
    display: flex;
    justify-content: center;
    content: "";
    width: 80%;
    border: 1px solid $orange-color;
  }
}

.category-list__link {
  color: $white-color;
  text-decoration: none;

  &:hover {
    color: $orange-color;
  }
}