.footer-links {
  display: flex;
  flex-direction: column;

  @media (max-width: $mobile-width) {
    align-items: center;
    text-align: center;
  }
}

.footer-links__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  color: $white-color;
}

.footer-links__list {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-links__link {
  font-weight: 300;
  font-size: 16px;
  line-height: 112%;
  color: $form-text-color;
  text-decoration: none;

  &--page {
    font-weight: 700;
    font-size: 16px;
    line-height: 188%;
    color: $white-color;
    margin-bottom: 5px;

    @media (max-width: $mobile-width) {
      margin-top: 15px;
    }
  }
}

.footer-links__social {
  margin: 20px 0;
}