.menu-list {
  padding: 0;
  padding-top: 42px;
  margin-bottom: 50px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.menu-list__link {
  display: block;
  max-width: 280px;
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
  color: $dark-color;
  line-height: 150%;
  text-decoration: none;
}

.menu-list__phone {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 252px;
  font-weight: 700;
  text-decoration: none;
  color: $dark-color;
}