.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  &--closed {
    .toggle__button {
      padding-bottom: 4px;
      width: 25px;
      height: 9px;
      background-image: url("data:image/svg+xml,%3Csvg width='25' height='9' viewBox='0 0 25 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='25' height='1' fill='white'/%3E%3Crect y='8' width='14' height='1' fill='white'/%3E%3C/svg%3E%0A");
      border-style: none;
      background-color: transparent;
    }

    .nav__menu {
      display: none;
    }
  }
}

.nav__phone {
  color: $light-gray-color;
  text-decoration: none;
}