.offer {
  padding: 0 22px 88px 22px;
}

.offer__text {
  margin: 0;
  margin-bottom: 33px;
  color: $gray-color;
  font-weight: 300;

  @media (max-width: $tablet-width) {
    margin-top: 40px;
  }
}

.offer__title {
  margin: 0;
  margin-bottom: 52px;
  font-size: 55px;
  line-height: 118%;
  color: $white-color;

  @media (max-width: $mobile-width) {
    font-size: 38px;
    line-height: 105%;
  }
}

.offer__title-span {
  display: inline-flex;
  color: $orange-color;
  border-right: 6px solid $orange-color;
  white-space: nowrap;
  overflow: hidden;
  animation: animated-text 4s steps(14,end) 1s 1 normal both, animated-cursor 600ms steps(14,end) infinite;
}

@keyframes animated-text {
  from {
    width: 0;
  }

  to {
    width: 360px;
  }
}

@keyframes animated-cursor {
  from {
    border-right-color: $orange-color;
  }

  to {
    border-right-color: transparent;
  }
}

.offer__list {
  margin: 0;
  margin-bottom: 46px;
  max-width: 490px;
}

.offer__button {
  width: 279px;
  height: 58px;
  padding: 0 37px 0 28px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: $mobile-width) {
    width: 250px;
    height: 48px;
    padding: 0 30px 0 20px;
  }
}

.offer__button-img {
  position: absolute;
  right: -65px;
  
  @media (max-width: $mobile-width) {
    height: 48px;
    width: 60px;
    right: -40px;
  }
}
