.social {
  color: $white-color;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  gap: 15px;

  &--footer {
    justify-content: flex-start;
  }
  
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white-color;

  &--footer {
    color: $gray-color;
  }
}

.social__text {
  position: relative;
  padding-right: 55px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
  &::after {
    content: "";
    position: absolute;
    display: flex;
    height: 1px;
    width: 30px;
    right: 10px;
    background-color: $white-color;
  }
}
