.tooltip-wrapper {
  position: absolute;
  right: 0;
  top: -50px;
  background: $dark-gray-color;
  border: 1px solid $border-dark-color;
  color: $tooltip-gray-color;
  padding: 50px;
  z-index: 2;
  display: grid;
  grid-template-columns: min-content 20px 1fr;
  width: 362px;

  &--closed {
    background: transparent;
    border: 1px solid transparent;

    .tooltip {
      display: none;
    }

    .tooltip-toggle {
      transform: rotate(180deg);
    }
  }

  @media (max-width: $tablet-width) {
    position: static;
    padding: 0;
    border: none;
    width: min-content;
  }
}

.tooltip-toggle {
  background: url("data:image/svg+xml,%3Csvg width='7' height='5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.5 0 7 5H0l3.5-5Z' fill='%23fff'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  height: 20px;
  width: 20px;
  right: 40px;
  align-self: center;
  
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.tooltip {
  max-width: 260px;
  margin-top: 26px;
  grid-column: 1/-1;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.tooltip__text {
  margin: 0;

  &--phone {
    margin-top: 24px;
    color: $tooltip-gray-color;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &--social {
    margin-top: 24px;
    font-size: 14px;
  }

  &--links {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 6px;
  }
}

.tooltip__link {
  color: $tooltip-gray-color;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 12px;

  &--email {
    margin-top: 14px;
    position: relative;
  }

  &:hover {
    color: $orange-color;

    .tooltip__image {
      fill: $orange-color;

      &--social {
        fill: none;
        color: $orange-color;
      }
    }
  }
}

.tooltip__image {
  fill: $tooltip-gray-color;

  &--social {
    fill: none;
  }
}
  