.visually-hidden {
  display: none;
}

.container {
  width: 100%;
  max-width: 1720px;
  margin: 0 auto;
  position: relative;
}

// .section-borders {
//   position: absolute;
//   left: 21%;
//   top: 0%;
//   height: 100%;
//   width: 1px;
//   background-color: red;

//   &::before{
//     content: "";
//     position: absolute;
//     right: 71%;
//     top: 0%;
//     height: 100%;
//     width: 1px;
//     background-color: red;
//   }

//   &::after {
//     content: "";
//     position: absolute;
//     left: 21%;
//     top: 0%;
//     height: 100%;
//     width: 1px;
//     background-color: red;
//   }
// }

.section-borders__line {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: $border-gray-color;

  &--one {
    left: 20%;
  }

  &--two {
    left: 58%;
  }

  &--three {
    left: 83%;
  }

  &--black {
    background-color: $border-gray-color-second;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.list {
  padding: 0;
  list-style-type: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}