.visually-hidden {
  display: none;
}

.container {
  width: 100%;
  max-width: 1720px;
  margin: 0 auto;
  position: relative;
  // padding: 0 113px 0 125px;
}

.list {
  padding: 0;
  list-style-type: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}