// Devices

$mobile-width: 540px;
$tablet-width: 800px;
$desktop-width: 1920px;

// Font

$font-main: "GothamPro", "Arial", sans-serif;

// Colors

$dark-color: #161617;
$white-color: #ffffff;
$gray-color: #707070;
$light-gray-color: #e7eaed;
$dark-gray-color: #1d1d1e;
$border-dark-color: #343435;
$border-gray-color: #e6e6e6;
$tooltip-gray-color: #acacac;
$orange-color: #ff9b46;
$link-orange-color: #ff7500;