// Devices

$mobile-width2: 320px;
$mobile-width: 540px;
$tablet-width: 800px;
$desktop-width: 1920px;

// Font

$font-main: "GothamPro", "Arial", sans-serif;
$font-second: "Roboto", "Arial", sans-serif;

// Colors

$dark-color: #161617;
$white-color: #ffffff;
$gray-color: #707070;
$light-gray-color: #e7eaed;
$dark-gray-color: #1d1d1e;
$border-dark-color: #343435;
$border-gray-color: #e6e6e6;
$border-gray-color-second: rgba(255, 255, 255, 0.1);
$border-dark-section-color: #2b2b2c;
$tooltip-gray-color: #acacac;
$textarea-text-color: #4a4a4a;
$form-text-color: #939393;
$orange-color: #ff9b46;
$link-orange-color: #ff7500;
$footer-background-color: #1e1e1f;
$copyright-color: #939393;