// Devices

$tablet-width: 768px;
$desktop-width: 1920px;

// Font

$font-main: "GothamPro", "Arial", sans-serif;

// Colors

$dark-color: #161617;
$white-color: #ffffff;
$gray-color: #707070;
$light-gray-color: #e7eaed;
$orange-color: #ff9b46;
$link-orange-color: #ff7500;